{% extends "./base.html" %}

{% block title %}
  Sign In
{% endblock %}

{% block content %}
    <header class="masthead text-white text-center" style="background:url('{{ url_for('static', filename = 'img/bg-masthead.jpg') }}') no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        
        {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div role="alert" class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span><strong>{{ message }}</strong></span>
            </div>
        {% endfor %}
            
        {% endif %}
            
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Sign In</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form action="{{ url_for('auth_bp.login')}}" method="post" >
                        {{ form.hidden_tag() }}
                        <div class="form-row">
                            <div class="col col-md-1"></div>
                            <div class="col-12 col-md-9 mb-2 mb-md-0 col-md-10">{{ form.email( placeholder="Enter your email...", class="form-control form-control-lg") }}</div>
                            <div class="col col-md-1"></div>
                        </div>
                        <div class="form-row">
                            <div class="col col-md-1"></div>
                            <div class="col-12 col-md-9 mb-2 mb-md-0 col-md-10">{{ form.password( placeholder="Enter your password...", class="form-control form-control-lg") }} </div>
                            <div class="col col-md-1"></div>
                        </div>
                        <div class="form-row">
                            <div class="col col-md-1"></div>
                            <div class="col-12 col-md-3 col-md-10"> {{ form.remember_me(class="form-control form-control-sm")}} {{ form.remember_me.label }} </div>
                            <div class="col col-md-1"></div>
                        </div>
                        <div class="form-row">
                            <div class="col col-md-1"></div>
                            <div class="col-12 col-md-3 col-md-10">{{ form.login(class="btn btn-primary btn-block btn-lg")}}</div>
                            <div class="col col-md-1"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}