{% extends "./base.html" %}

{% block title %}
  Dashboard
{% endblock title %}

{% block content %}

    <section class="showcase"></section>
        {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div role="alert" class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span><strong>{{ message }}</strong></span>
            </div>
        {% endfor %}
            
        {% endif %}
    <section id="head-row" class="call-to-action text-white text-center" style="background:url('{{ url_for('static', filename = 'img/bg-masthead.jpg') }}') no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-2">Hello, {{ current_user.username }}</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col col-md-7 mt-2"><header><h2>Edit URLs</h2></header>
                <div class="row">
                    
                    {% if urls %}
                        <div class="col">
                            <p class="text-muted">You have {{ urls | count}} registered urls</p>
                        </div>
                        <div class="col text-right"><a class="btn btn-sm btn-primary" href="#" data-toggle="modal" data-target="#add-url">Shorten another URL</a></div>
                    {% else %}
                        <div class="col">
                            <p class="text-muted">You have no registered urls</p>
                        </div>
                        <div class="col text-right"><a class="btn btn-sm btn-primary" href="#" data-toggle="modal" data-target="#add-url">Add URL</a></div>
                    
                    {% endif %}
                        
                   
                </div>
               <!-- Table goes here -->
               <div id = "url_table">
                    {% include "url_table.html" %}
               </div>
               <!-- End table -->
                <div class="row mb-2">
                    <div class="col"></div>
                    <div class="col text-right"><a class="btn btn-sm btn-primary" href="#" data-toggle="modal" data-target="#add-url">Shorten another URL</a></div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <h3 class="mt-3 text-center text-muted">Statistics</h3>
                <div class="table-responsive border-bottom">
                    <table class="table">
                        <thead>
                            <tr class="d-none">
                                <th>Column 1</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for url in urls %}
                                
                                <tr>
                                    <td class="small-table">{{ url.name | capitalize }}<span class="badge badge-primary ml-2 p-1">{{ url.visits }} visits</span></td>
                                </tr>
                             {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 <form action="{{ url_for('user_bp.dashboard') }}" method = "POST" id='add_form'>
    {{ form.hidden_tag() }}
    <div class="modal fade" role="dialog" tabindex="-1" id="add-url">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add URL</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="form-group">{{ form.name(class="form-control form-control-lg", placeholder="name...")}}</div>
                    <div class="form-group">{{ form.url(class="form-control form-control-lg", placeholder="http://url...")}}</div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button>{{ form.add_url(class="btn btn-primary", id = "add_btn") }}</div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
<script>
//$(document).ready(function(){
    //$('#add_btn').click(function(){
        /* var $formData = $('#add_form').serialize();
        $.post("{{ url_for('user_bp.dashboard')}}", $formData, function(data){
            $('#url_table').html(data)// end of post

        })
    $(this).attr('data-dismiss','modal');
    return false
    })// end of click event
})// end of ready*/
</script>
{% endblock %}